<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>List lecture no 2</title>
</head>
<body>
     <ol>
          <li>Order list</li>
          <li>Unorder List</li>
     </ol>


     <ol>
          <li>January</li>
          <li>Feburary</li>
          <li>March</li>
          <li>April</li>
          <li>May</li>
          <li>June</li>
          <li>July</li>
          <li>August</li>
          <li>September</li>
          <li>October</li>
          <li>November</li>
          <li>December</li>

     </ol>

     <!-- Unorder List -->

     <ul>
            <li>January</li>
          <li>Feburary</li>
          <li>March</li>
          <li>April</li>
          <li>May</li>
          <li>June</li>
          <li ><a href="https://www.w3schools.com/">July</a></li>
          <li>August</li>
          <li>September</li>
          <li>October</li>
          <li>November</li>
          <li>December</li>
     </ul>

     <!-- Nested List -->
      <ol>
          <li>front end</li>
          <ul>
               <li>Html</li>
               <li>Css</li>
               <li>Javascript</li>
          </ul>

          <li>Back end</li>
          <ul>
               <li>React</li>
               <li>Node.js</li>
          </ul>
      </ol>

      <!-- Sub and Super tags in html -->
       <h2>The formula of water is - H<sub>2</sub>O</h2>
       <h3>Formula of carbon dioxide is = CO<sub>2</sub></h3>
       <h3>Power of 3 is 3 = 3<sup>3</sup></h3>
       <h1>2A<sub>1</sub> + 3A<sub>2</sub> = 5A<sub>3</sub></h1>
</body>
</html>